.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #445274;
    border-radius: 5px;
    color: white;
    padding: 6px 15px;
}

.btnUpdate {
    background-color: #355070;
    border-radius: 5px;
    color: white;
    padding: 6px 15px;

    margin-right: 15px;
}

.btnCancel {
    background-color: #D66363;
    border-radius: 5px;
    color: white;
    padding: 6px 15px;
}