.index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: linear-gradient(to right bottom, #7881dd, #857fdd, #917ddd, #9d7bdc, #a879da);
    color: white;
}

.index .buttons {
    display: flex;
    justify-content: flex-end;
}