.index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: linear-gradient(to right bottom, #355070, #445274, #535577, #605779, #6d597a);
    color: white;
}

.index .buttons {
    display: flex;
    justify-content: flex-end;
}