.inputGroup {
    position: relative;
    width: 100%;
}

.inputGroup:nth-child(2) {
    margin: 28px 0;
}

.inputGroup label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
    color: #223449;
}

.input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #223449;
    background-color: #6057791a;
    outline: 1px solid transparent ;
}

.inputGroup:focus-within label {
    transform: translate(0, -30px) scale(.8);
    color: #223449;
    font-weight: 600;
    margin: 5px 0 0 0;
}

.inputGroup:focus-within .input {
    outline-color: #223449;
    transition: 0.5s;
    background-color: transparent;
}

.labelAfterTyping {
    transform: translate(0, -30px) scale(.8) !important;
    color: #223449 !important;
    font-weight: 600 !important;
    margin: 5px 0 0 0 !important;
}

.inputAfterTyping {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #223449;
    background-color: transparent;
    outline: 1px solid #223449; 
    transition: 0.5s;
    
}