.table {
    width: 100%;

    overflow: hidden;
    border-radius: 8px;
}

.table thead{
    background-image: linear-gradient(to right, #a887c4, rgb(78, 37, 88));
    color: #f1f0f0;
}

.table th,
.table td {
    text-align: left;
    padding: 10px;
}

.table th:nth-last-child() {
    text-align: center;
}

.table button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
}

.table button:hover {
    background-color: white;
}

.table .btnEdition {
    color: green ;
}

.table .btnTrash {
    color: red;
}